.page-404 {
  @extend %flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background: url("../img/spall.svg") no-repeat 140px center / 8.5%;
  @include screen-980 {
    background: url(../img/spall.svg) no-repeat 40px center/14%;
  }
  @include screen-480 {
    background: url(../img/spall.svg) no-repeat 10px center/24.5%;
  }
  &__container {
    @extend %justify-between;
    align-items: center;
    @extend %container-right;
    margin-bottom: 140px;
    @include screen-980 {
      display: block;
      text-align: center;
      padding: 0 30px;
    }
  }
  &__caption {
    width: 445px;
    margin-bottom: 50px;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 32px;
    font-weight: 700;
    color: $main-color;
    @include screen-980 {
      margin: 0 auto;
    }
    @include screen-480 {
      width: 100%;
      line-height: 40px;
      padding-bottom: 20px;
    }
  }
  &__subtitle {
    margin: 15px 0 100px;
    font-size: 20px;
    font-weight: 300;
  }

  &__error {
    font-size: 16vw;
    font-weight: 700;
    padding-right: 9%;
    @include screen-980 {
      margin-top: 20px;
    }
    @include screen-480 {
      font-size: 20vw;
    }
  }
}