.about {
  @extend %flex;
  flex-direction: column;
  justify-content: flex-end;
  &__container {
    @extend %container-right;
    @extend %flex;
    margin-bottom: 200px;
    @include screen-1440 {
      margin-bottom: 12%;
    }
    @include screen-1279 {
      margin-bottom: 6%;
    }
    @include screen-980 {
      padding: 10px 20px;
    }
    @include screen-480 {
      height: 70vh;
      padding: 10px 30px;
      margin-bottom: 0;
      overflow: auto;
    }
    @include screen-320 {
      position: relative;
      top: -20px;
      padding: 0 20px;
    }
  }
  &__info{
    width: 41%;
    @include screen-1440 {
      width: 80%;
    }
    @include screen-980 {
      width: 100%;
    }
    p {
      font-family: $font-roboto;
      font-size: 19px;
      font-weight: 400;
      line-height: 29px;
      @include screen-980 {
        font-size: 18px;
      }
      @include screen-480 {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  &__link {
    margin-top:50px;
  }
  &__caption {
    @extend %caption;
    font-size: 210px;
    z-index: 1;
    left: 2%;
    top: 11%;
    @include screen-1180 {
      font-size: 130px;
    }
    @include screen-980 {
      display: none;
    }
  }
  &__subcaption {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 49px;
    font-weight: 700;
    @include screen-980 {
      font-size: 30px;
      color: $main-color;
    }
    @include screen-480 {
      text-align: center;
    }
    @include screen-480 {
      margin-bottom: 15px;
    }
  }
  &__spall {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    @include screen-480 {
      display: none;
    }
    img {
      width: 86%;
    }
  }
  .custom-btn {
    width: 200px;
  }
}