.footer {
  width: 100%;
  &__container {
    @extend %container-center;
    width: 940px;
    position: relative;
    bottom: 0;
    @extend %justify-between;
    align-items: center;
    margin: 0 auto 30px;
    @include screen-980 {
      width: 100%;
      margin: 0 auto 10px;
    }
  }
  &__logo {
    @include screen-480 {
      margin: 0 auto;
    }
  }
  &__svg {
    width: 189px;
    @include screen-980 {
      width: 140px;
    }
  }
  &__menu {
    width: 410px;
    @extend %justify-between;
    @include screen-980 {
      width: 360px;
    }
    @include screen-700 {
      display: none;
    }
  }
  &__link {
    font-size: 12px;
    font-weight: 500;
    color: $color-white;
    &:hover {
      transition: 0.5s;
      color: $main-color;
    }
  }
  .header__feedback {
    @include screen-480 {
      display: none;
    }
  }
}