.header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 9;
  &__container {
    @extend %container-center;
    @extend %justify-between;
    align-items: center;
    margin-top: 40px;
    @include screen-1180 {
      margin-top: 25px;
    }
    @include screen-700 {
      padding: 0 30px;
    }
    @include screen-320 {
      padding: 0 20px;
    }
  }
  &__logo {
    display: block;
    position: relative;
    z-index: 100;
    transition: 1.5s;
  }
  &__img {
    width: 300px;
    display: block;
    position: relative;
    transition: 1s;
    animation: anim 1.2s linear forwards;
    animation-delay: 0.9s;
    @include screen-980 {
      animation: none;
    }
    @include screen-700 {
      width: 220px;
    }
    @include screen-320 {
      width: 180px;
    }
  }
  &__feedback {
    @extend %yellow-button;
  }
  .adaptive-menu {
    position: relative;
    cursor: pointer;
    &__container {
      display: grid;
      place-content: center;
      position: relative;
      height: 100vh;
      cursor: initial;
    }
    &__icon {
      &-close, &-menu {
        width: 40px;
      }
    }
    &__caption {
      @extend %caption;
      top: 30%;
      left: 60px;
      font-size: 230px;
      @include screen-1440 {
        top: 18%;
      }
      @include screen-980 {
        top: 6%;
        font-size: 23vw;
      }
    }
    &__menu-top {
      position: relative;
      top: 20%;
      margin: 0;
      padding: 0;
      @include screen-1440 {
        top: 0;
      }
      li {
        list-style: none;
      }
    }
    &__full-menu {
      display: none;
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 12;
      box-sizing: border-box;
      background: $color-black url(../img/spall.svg) no-repeat 140px center/8.5%;
      overflow: auto;
      @include screen-1440 {
        background: $color-black url(../img/spall.svg) no-repeat 80px center/9.5%;
      }
      @include screen-700 {
        background: $color-black url(../img/spall.svg) no-repeat 40px center/15.5%;
      }
    }
    &__open-menu {
      @extend %flex;
      align-items: baseline;
      &:hover {
        .adaptive-menu__title {
          transition: 0.5s;
          color: $main-color;
        }
      }
    }
    &__title {
      margin-left: 10px;
      text-transform: uppercase;
      font-family: $font-roboto;
      font-size: 14px;
      @include screen-700 {
        display: none;
      }
    }
    &__close-menu {
      position: relative;
      top: -190px;
      left: -5em;
      z-index: 2;
      cursor: pointer;
      font-size: 60px;
      font-weight: 300;
      text-align: left;
      color: $color-white;
      @include screen-1440 {
        top: -150px;
      }
      @include screen-1180 {
        top: -70px;
      }
      @include screen-980 {
        left: -3em;
        top: -30px;
      }
      @include screen-700 {
        left: -60px;
        top: -30px;
      }
      @include screen-480 {
        left: 0;
      }
    }
    &__link {
      display: block;
      padding: 10px;
      font-size: 35px;
      font-weight: 500;
      color: $color-white;
      &:hover {
        transition: 0.5s;
        color: $main-color;
      }
    }
    img {
      outline: none;
      &:focus, &:active {
        outline: none;
      }
    }
    &__line {
      display:block;
      width:40px;
      height:3px;
      margin-bottom:6px;
      overflow:hidden;
      position:relative;
      &:last-child {
        margin:0;
      }
      &:first-child {
        width: 25px;
      }
      &:before, &:after {
        content:"";
        position:absolute;
        width:100%;
        height:100%;
        background-color: $color-white;
        transform:translateX(-200%);
        transition:transform ease 300ms;
      }
      &:after {
        transform:translateX(0);
      }
      &:nth-child(2) {
        &:before, &:after{
          transition-delay:75ms;
        }
      }
      &:last-child {
        &:before, &:after{
          transition-delay:150ms;
        }
      }

    }
    &__hamburger {
      &:hover {
        .adaptive-menu__line {
          &:first-child {
            transition: 0.5s;
            width: 40px;
          }
          &:before {
            transform:translateX(0);
          }
          &:after{
            transform:translateX(200%);
          }
        }
      }
    }
  }
  .js-animate {
    position: relative;
    overflow: inherit;
    width: 160px;
    display: block;
    margin: 0 auto 20px;
    @include screen-980 {
      display: none;
    }
  }
}

@keyframes anim {
  from {
    top: 20px;
  }
  99% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}