.help {
  &__container {
    @extend %container-right;
    height: 100%;
    @extend %flex;
    align-items: center;
    @include screen-980 {
      justify-content: center;
      flex-direction: column;
      padding: 10px 20px;
      background: url("../img/bg-help.jpg") no-repeat center / cover;
    }
    @include screen-480 {
      padding: 10px 30px;
    }
    @include screen-320 {
      padding: 10px 20px;
    }
    .tabs__caption {
      display: block;
      li:last-child:before {
        display: none;
      }
    }
    .tabs__content {
      overflow: hidden;
    }
  }
  .tabs {
    &__content {
      display: none;
      width: 100%;
      height: 100%;
      @include screen-980 {
        height: auto;
      }
      &.active {
        display: block;
      }
      &:nth-child(3) {
        img {
          width: 80%;
        }
      }
      &:nth-child(4) {
        img {
          width: 100%;
        }
      }
      &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8){
        img {
          width: 90%;
        }
      }
      &:nth-child(9) {
        img {
          width: 60%;
        }
      }
    }
    &__info {
      width: 31%;
      @include screen-1440 {
        width: 38%;
      }
      @include screen-1180 {
        width: 48%;
        margin-top: 30px;
      }
      @include screen-980 {
        width: 100%;
        margin-top: 15px;
      }
      p {
        font-family: $font-roboto;
        font-size: 19px;
        font-weight: 400;
        line-height: 29px;
        @include screen-480 {
          font-size: 14px;
          line-height: 23px;
        }
      }
    }
    &__link {
      margin-top: 66px;
      @include screen-1180 {
        margin-top: 20px;
      }
    }
    &__img {
      width: 59%;
      height: 100%;
      @extend %flex;
      justify-content: center;
      align-items: center;
      background: url("../img/bg-help.jpg") no-repeat center / cover;
      @include screen-1180 {
        width: 50%;
      }
      @include screen-980 {
        display: none;
      }
    }
    &__block {
      height: 100%;
      @extend %justify-between;
      align-items: center;
      @include screen-980 {
        height: auto;
      }
    }
    &__caption {
      position: absolute;
      left: 6%;
      top: 20%;
      z-index: 2;
      @include screen-1440 {
        left: 3%;
      }
      @include screen-1180 {
        width: 100%;
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        left: 0;
        top: 15%;
      }
      @include screen-980 {
        position: relative;
        top: 0;
      }
      button {
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        font-weight: 500;
        font-size: 20px;
        color: $color-white;
      }
      .active {
        button {
          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 5px;
            margin: 0 auto;
            text-align: center;
            transform: translateY(-4px) translateX(22px) scale(1);
            background-color: $main-color;
            @include screen-1180 {
              transform: translateY(-4px) translateX(5px) scale(1);
            }
          }
        }
      }
    }
    &__cap {
      @extend %caption;
      font-size: 230px;
      z-index: 1;
      left: 2%;
      top: 8%;
      @include screen-1440 {
        font-size: 13vw;
      }
      @include screen-980 {
        display: none;
      }
    }
    li {
      position: relative;
      padding: 10px 0;
      text-align: left;
      &:not(.active) {
        cursor: pointer;
      }
      @include screen-1180 {
        padding: 10px;
      }
      @include screen-980 {
        padding: 0 0 10px 0;
      }
      @include screen-480 {
        flex: 1;
      }
      @include screen-480 {
        flex: none;
      }
    }
  }
  .custom-btn {
    width: 200px;
  }
}
