.help-item-main {
  @extend %flex;
  align-items: center;
  &__blur {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: url('../img/bg-help.jpg') no-repeat center/cover;
    filter: blur(1.5px);
    @include screen-480 {
      filter: blur(0);
    }
  }
  &__container {
    position: relative;
    z-index: 2;
    @extend %justify-between;
    align-items: center;
    @extend %container-right;
    @include screen-980 {
      padding: 0 30px;
    }
    @include screen-700 {
      display: block;
    }
  }
  &__left {
    @include screen-700 {
     text-align: center;
    }
  }
  &__caption {
    width: 424px;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 49px;
    font-weight: 700;
    color: $main-color;
    @include screen-980 {
      width: auto;
    }
    @include screen-480 {
      font-size: 30px;
    }
  }
  &__subtitle {
    margin: 15px 0 100px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    @include screen-700 {
      margin: 15px 0 50px;
    }
    @include screen-480 {
      font-size: 18px;
    }
  }
  &__img {
    width: 60%;
    padding-right: 230px;
    box-sizing: border-box;
    @include screen-1279 {
      width: 52%;
      padding-right: 7%;
    }
    @include screen-980 {
      width: 45%;
      padding-right: 0;
    }
    @include screen-700 {
      margin: 30px auto 0;
    }
    @include screen-480 {
      width: 55%;
    }
    img {
      width: 100%;
    }
  }
  .custom-btn {
    width: 269px;
  }
}

.help-item-next {
  @extend %flex;
  flex-direction: column;
  justify-content: flex-end;
  &__container {
    @extend %container-center;
    @extend %flex;
    margin: 0 auto 80px;
    @include screen-480 {
      margin: 0;
    }
  }
  &__caption {
    @extend %caption;
    top: 5%;
    left: 2%;
    font-size: 230px;
    @include screen-1180 {
      font-size: 23vw;
    }
  }
  &__info {
    @include screen-480 {
      height: 65vh;
      overflow: hidden;
    }
    p {
      margin-bottom: 20px;
      line-height: 29px;
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 19px;
      @include screen-980 {
        font-size: 16px;
        line-height: 24px;
      }
      @include screen-700 {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
  .custom-btn {
    width: 282px;
    margin-top: 40px;
    @include screen-480 {
      margin-top: 10px;
    }
  }
}