.main-block {
  @extend %flex;
  align-items: center;
  background: url("../img/spall.svg") no-repeat 140px center / 8.5%;
  @include screen-1279 {
    background: url("../img/spall.svg") no-repeat 80px center / 9.5%;
  }
  @include screen-480 {
    background: url("../img/spall.svg") no-repeat 20px center / 26%;
  }
  &__container {
    @extend %justify-between;
    align-items: center;
    @extend %container-right;
    @include screen-980 {
      display: block;
      text-align: center;
    }
  }
  &__caption {
    width: 424px;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 49px;
    font-weight: 700;
    color: $main-color;
    @include screen-1180 {
      line-height: 35px;
      font-size: 30px;
    }
    @include screen-980 {
      margin: 0 auto;
    }
    @include screen-700 {
      width: 100%;
    }
  }
  &__subtitle {
    margin: 15px 0 100px;
    font-size: 20px;
    font-weight: 300;
    @include screen-1180 {
      margin: 15px 0 50px;
      font-size: 16px;
    }
    @include screen-980 {
      font-size: 12px;
    }
  }
  &__logo {
    width: 51%;
    padding-right: 7%;
    @include screen-980 {
      width: 28%;
      margin: 15px auto;
      padding: 0;
    }
    @include screen-480 {
      width: 50%;
      margin-top: 20px;
    }
  }
  &__scroll-down {
    display: block;
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -12px;
    cursor: pointer;
    @include screen-480 {
      bottom: 40px;
    }
  }
  &__small-screen {
    display: none;
    @include screen-980 {
      display: block;
    }
  }
}

.custom-btn {
  height: 57px;
  width: 339px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0;
  border: none;
  @include screen-1180 {
    width: 280px;
  }
  @include screen-980 {
    width: 220px;
    height: 50px;
  }
  span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 61px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-white;
    @include screen-980 {
      font-size: 11px;
    }
    &:before, &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      background: $color-white;
      transition: all 0.3s ease;
    }
    &:before {
      width: 4px;
      height: 50%;
    }
    &:after {
      width: 40%;
      height: 4px;
    }
    &:hover:before {
      height: 100%;
    }
    &:hover:after {
      width: 100%;
    }
  }
  &:before, &:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: $color-white;
    transition: all 0.3s ease;
  }
  &:before {
    height: 50%;
    width: 4px;
  }
  &:after {
    width: 40%;
    height: 4px;
  }
  &:hover:before {
    height: 100%;
  }
  &:hover:after {
    width: 100%;
  }
}

.an-1 {
  position: relative;
  animation: bird 0.9s linear forwards;
  animation-delay: 1s;
  animation-iteration-count:1;
  @include screen-980 {
    animation: none;
  }
}

.an-2 {
  position: relative;
  animation: bird2 0.9s linear forwards;
  animation-delay: 1s;
  animation-iteration-count:1;
  @include screen-980 {
    animation: none;
  }
}

.an-3 {
  position: relative;
  animation: bird3 0.9s linear forwards;
  animation-delay: 1s;
  animation-iteration-count:1;
  @include screen-980 {
    animation: none;
  }
}

.an-4 {
  animation: bird4 0.9s linear forwards;
  animation-delay: 1s;
  animation-iteration-count:1;
  @include screen-980 {
    animation: none;
  }
}

.an-5 {
  position: relative;
  animation: bird5 0.9s linear forwards;
  animation-delay: 1s;
  animation-iteration-count:1;
  @include screen-980 {
    animation: none;
  }
}

.js-animate {
  //animation: for-all-part 0.5s linear forwards;
  position: relative;
  animation-delay: 2s;
  polygon {
    &:hover {
      fill: $color-black;
      stroke-width: 0.3;
      stroke: #FEE600;
    }
  }
}

//@keyframes for-all-part {
//  from {
//    opacity: 0;
//  }
//
//  to {
//    opacity: 1;
//  }
//}

@keyframes bird {
  from {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }

  50% {
    transform: translate(-600px, 500px) scale(2);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(210px, 130px) rotate(363deg) scale(3.93);
  }
}

@keyframes bird2 {
  from {
    transform: translate(0, 0)  rotate(0deg) scale(1);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(198px, 113px) rotate(-356deg) scale(3.93);
  }
}

@keyframes bird3 {
  from {
    transform:rotate(0deg) translateX(-150px) rotate(0) scale(1);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform:rotate(-360deg) translate(180px, 154px) rotate(360deg) scale(3.93);
  }
}

@keyframes bird4 {
  from {
    transform: translate(-900px, 0) rotateY(0deg) scale(1);
  }

  50% {
    transform: translate(200px, 800px) rotateY(-100deg) scale(2);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(180px, 150px) rotateY(360deg) scale(3.93);
  }
}

@keyframes bird5 {
  from {
    transform: translate(0, 0)  rotate(0deg) scale(1);
  }

  50% {
    transform: translate(300px, 300px)  rotate(-60deg) scale(2);
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(176px, 145px) rotate(361deg) scale(3.93);
  }
}

@include screen-1440 {
  @keyframes bird {
    from {
      transform: translate(0, 0) rotate(0deg) scale(1);
    }
    50% {
      transform: translate(-500px, 400px) scale(2);
    }
    100% {
      transform: translate(110px, 30px) rotate(363deg) scale(3);
    }
  }

  @keyframes bird2 {
    from {
      transform: translate(0, 0)  rotate(0deg) scale(1);
    }

    100% {
      transform: translate(98px, 13px) rotate(-356deg) scale(3);
    }
  }

  @keyframes bird3 {
    from {
      transform:rotate(0deg) translateX(-150px) rotate(0) scale(1);
    }

    100% {
      transform:rotate(-360deg) translate(80px, 54px) rotate(360deg) scale(3);
    }
  }

  @keyframes bird4 {
    from {
      transform: translate(-900px, 0) rotateY(0deg) scale(1);
    }

    50% {
      transform: translate(100px, 700px) rotateY(-100deg) scale(2);
    }

    100% {
      transform: translate(80px, 50px) rotateY(360deg) scale(3);
    }
  }
  @keyframes bird5 {
    from {
      transform: translate(0, 0)  rotate(0deg) scale(1);
    }

    50% {
      transform: translate(200px, 200px)  rotate(-60deg) scale(2);
    }

    100% {
      transform: translate(76px, 45px) rotate(361deg) scale(3);
    }
  }
}


.glitch-btn {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  color: #fff;
}

.glitch-btn .mask {
  position: absolute;
  width: 100%;
  overflow: hidden;
  display: none;
}

.glitch-btn .mask .sss {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  top: -100%;
}

.glitch-btn:hover {
  color: #fff;
}

.glitch-btn .mask1 {
  height: 20%;
  top: 19%;
}

.glitch-btn .mask2 {
  height: 30%;
  top: 35%;
}

.glitch-btn .mask3 {
  height: 57%;
  top: 63%;
}

.hidden {
  opacity: 0;
}

.glitch-btn:hover .mask1 {
  animation: glitchin1 0.2s 0.3s both;
}

.glitch-btn:hover .mask2 {
  animation: glitchin2 0.2s 0.2s both;
}

.glitch-btn:hover .mask3 {
  animation: glitchin1 0.2s 0.2s both;
}

.glitch-btn:hover .hidden {
  animation: fade-in 0.1s 0.2s forwards;
}

.glitch-btn:hover .text {
  animation: fade-in 0.1s 0.2s forwards;
}

.glitch-btn:hover .mask {
  display: block;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes glitchin1 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(0.5px, 0.05px);
    transform: translate(0.5px, 0.05px);
  }
  90% {
    -webkit-transform: translate(0.6px, -0.3px);
    transform: translate(0.6px, -0.3px);
  }
  85% {
    -webkit-transform: translate(1.2px, 0px);
    transform: translate(1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(1.2px, 0.2px);
    transform: translate(1.2px, 0.2px);
  }
  75% {
    -webkit-transform: translate(0.5px, 1px);
    transform: translate(0.5px, 1px);
  }
  70% {
    -webkit-transform: translate(0.3px, 1.2px);
    transform: translate(0.3px, 1.2px);
  }
  65% {
    -webkit-transform: translate(-2.1px, 0.7px);
    transform: translate(-2.1px, 0.7px);
  }
  60% {
    -webkit-transform: translate(3.6px, 0.4px);
    transform: translate(3.6px, 0.4px);
  }
  55% {
    -webkit-transform: translate(0.45px, 1.8px);
    transform: translate(0.45px, 1.8px);
  }
  50% {
    -webkit-transform: translate(-3px, -1px);
    transform: translate(-3px, -1px);
  }
  45% {
    -webkit-transform: translate(-4.4px, 1.1px);
    transform: translate(-4.4px, 1.1px);
  }
  40% {
    -webkit-transform: translate(-4.2px, 2.4px);
    transform: translate(-4.2px, 2.4px);
  }
  35% {
    -webkit-transform: translate(2.6px, 1.3px);
    transform: translate(2.6px, 1.3px);
  }
  30% {
    -webkit-transform: translate(-1.4px, 2.8px);
    transform: translate(-1.4px, 2.8px);
  }
  25% {
    -webkit-transform: translate(6px, 0.75px);
    transform: translate(6px, 0.75px);
  }
  20% {
    -webkit-transform: translate(0px, -1.6px);
    transform: translate(0px, -1.6px);
  }
  15% {
    -webkit-transform: translate(-5.95px, -0.85px);
    transform: translate(-5.95px, -0.85px);
  }
  10% {
    -webkit-transform: translate(3.6px, 3.6px);
    transform: translate(3.6px, 3.6px);
  }
  5% {
    -webkit-transform: translate(-0.95px, -0.95px);
    transform: translate(-0.95px, -0.95px);
  }
  1% {
    opacity: 1;
  }
}
@keyframes glitchin2 {
  100% {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  95% {
    opacity: 1;
    -webkit-transform: translate(-0.5px, -0.05px);
    transform: translate(-0.5px, -0.05px);
  }
  90% {
    -webkit-transform: translate(-0.6px, 0.3px);
    transform: translate(-0.6px, 0.3px);
  }
  85% {
    -webkit-transform: translate(-1.2px, 0px);
    transform: translate(-1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(-1.2px, -0.2px);
    transform: translate(-1.2px, -0.2px);
  }
  75% {
    -webkit-transform: translate(-0.5px, -1px);
    transform: translate(-0.5px, -1px);
  }
  70% {
    -webkit-transform: translate(-0.3px, -1.2px);
    transform: translate(-0.3px, -1.2px);
  }
  65% {
    -webkit-transform: translate(2.1px, -0.7px);
    transform: translate(2.1px, -0.7px);
  }
  60% {
    -webkit-transform: translate(-3.6px, -0.4px);
    transform: translate(-3.6px, -0.4px);
  }
  55% {
    -webkit-transform: translate(-0.45px, -1.8px);
    transform: translate(-0.45px, -1.8px);
  }
  50% {
    -webkit-transform: translate(3px, 1px);
    transform: translate(3px, 1px);
  }
  45% {
    -webkit-transform: translate(4.4px, -1.1px);
    transform: translate(4.4px, -1.1px);
  }
  40% {
    -webkit-transform: translate(4.2px, -2.4px);
    transform: translate(4.2px, -2.4px);
  }
  35% {
    -webkit-transform: translate(-2.6px, -1.3px);
    transform: translate(-2.6px, -1.3px);
  }
  30% {
    -webkit-transform: translate(1.4px, -2.8px);
    transform: translate(1.4px, -2.8px);
  }
  25% {
    -webkit-transform: translate(-6px, -0.75px);
    transform: translate(-6px, -0.75px);
  }
  20% {
    -webkit-transform: translate(0px, 1.6px);
    transform: translate(0px, 1.6px);
  }
  15% {
    -webkit-transform: translate(5.95px, 0.85px);
    transform: translate(5.95px, 0.85px);
  }
  10% {
    -webkit-transform: translate(-3.6px, -3.6px);
    transform: translate(-3.6px, -3.6px);
  }
  5% {
    -webkit-transform: translate(0.95px, 0.95px);
    transform: translate(0.95px, 0.95px);
  }
  1% {
    opacity: 1;
  }
}
