.mission {
  &__container {
    @extend %container-right;
    height: 100%;
    @extend %justify-between;
    align-items: center;
    @include screen-980 {
      padding: 10px 20px;
      background: url("../img/bg-help.jpg") no-repeat center / cover;
    }
    @include screen-480 {
      padding: 10px 30px;
    }
    @include screen-320 {
      padding: 0 20px;
    }
  }
  &__info{
    width: 31%;
    @include screen-1440 {
      width: 38%;
    }
    @include screen-1180 {
      width: 48%;
    }
    @include screen-980 {
      width: 100%;
    }
    p {
      font-family: $font-roboto;
      font-size: 19px;
      font-weight: 400;
      line-height: 29px;
      @include screen-480 {
        font-size: 14px;
        line-height: 23px;
      }
    }
  }
  &__link {
    margin-top: 66px;
    @include screen-1180 {
      margin-top: 30px;
    }
    @include screen-480 {
      display: block;
      margin: 30px auto 0;
    }
  }
  &__img {
    width: 59%;
    height: 100%;
    @extend %flex;
    justify-content: center;
    align-items: center;
    background: url("../img/bg-help.jpg") no-repeat center / cover;
    @include screen-1180 {
      width: 50%;
    }
    img {
      width: 80%;
    }
    @include screen-980 {
      display: none;
    }
  }
  &__caption {
    @extend %caption;
    font-size: 230px;
    z-index: 1;
    left: 2%;
    top: 10%;
    @include screen-1279 {
      font-size: 18vw;
    }
    @include screen-1180 {
      font-size: 16vw;
    }
    @include screen-980 {
      display: none;
    }
  }
  &__subcaption {
    text-transform: uppercase;
    margin-bottom: 45px;
    font-size: 49px;
    font-weight: 700;
    @include screen-1180 {
      margin-bottom: 25px;
    }
    @include screen-980 {
      margin-bottom: 20px;
      font-size: 30px;
      color: $main-color;
    }
    @include screen-480 {
      text-align: center;
    }
  }
}