.popup {
  display: none;
  width: auto;
  height: auto;
  background: #121212;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -200px;
  margin-left: -473px;
  padding: 30px 20px 20px 20px;
  opacity: 0;
  z-index: 11;
  @include screen-980 {
    width: 100%;
    box-sizing: border-box;
    left: 0;
    margin-left: 0;
  }
  @include screen-480 {
    top: 60px!important;
    margin-top: 0;
  }
  @include screen-320 {
    top: 40px!important;
  }
  .custom-btn {
    button {
      background: none;
      border: none;
      div {
        font-size: 10px;
      }
    }
  }
  &__close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    display: block;
    font-size: 23px;
    color: $color-white;
  }
  &__overlay {
    z-index:10;
    position:fixed;
    background-color:$color-black;
    opacity:0.9;
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap:20px;
    grid-template: 62px 62px 62px 62px / 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "a a b b"
            "c c e e"
            "d d e e";
    input:valid:not(:placeholder-shown) {
      border: 3px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 3px solid red;
    }
    input:invalid:not(:placeholder-shown) + .popup__error {
      display: block;
    }
    @include screen-480 {
      display: block;
    }
  }
  &__field {
    &:first-child {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
    &:nth-child(4) {
      grid-area: d;
    }
    &:nth-child(5) {
      grid-area: e;
    }
    @include screen-480 {
      margin-bottom: 15px;
    }
    @include screen-320 {
      margin-bottom: 10px;
    }
  }
  &__error {
    color: $color-white;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
    @include screen-980 {
      margin-top: 0;
      font-size: 12px;
      line-height: 10px;
    }
    @include screen-480 {
      font-size: 14px;
      line-height: 18px;
    }
    @include screen-320 {
      font-size: 13px;
      line-height: 16px;
    }
  }
  input {
    width: 100%;
    outline: none;
    display: block;
    height: 62px;
    padding: 0 15px;
    border: 3px solid $color-white;
    box-sizing: border-box;
    font-family: $font-roboto;
    font-size: 20px;
    background: none;
    color: $color-white;
    @include screen-480 {
      height: 50px;
    }
  }
  textarea {
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px;
    border: 3px solid $color-white;
    font-family: $font-roboto;
    font-size: 20px;
    box-sizing: border-box;
    background: none;
    color: $color-white;
    @include screen-480 {
      height: 100px;
    }
    @include screen-320 {
      height: 50px;
      padding: 10px 15px;
    }
  }
  .help-block {
    color: $main-color;
  }
  &__notification {
    display: none;
    position: relative;
    top: -40px;
    text-align: center;
    font-size: 20px;
  }
}