.psychics {
  @extend %flex;
  align-items: center;
  &__container {
    max-width: 1180px;
    margin: 80px auto 0;
    padding-left: 14.5%;
    box-sizing: content-box;
    @include screen-1440 {
      margin-top: 70px;
      padding-left: 17%;
    }
    @include screen-1279 {
      width: 100%;
      padding: 0 20px;
      margin-top: 20px;
    }
    @include screen-480 {
      padding: 0;
    }
  }
  &__img {
    width: 380px;
    height: 500px;
    margin: 0 auto;
    object-fit: cover;
    @include screen-1440 {
      width: 300px;
      height: 400px;
    }
    @include screen-1279 {
      width: auto;
      height: 30vw;
    }
    @include screen-480 {
      width: 100%;
      height: 55vh;
    }
  }
  &__info {
    display: none;
    position: absolute;
    bottom: 130px;
    text-align: center;
    @include screen-1279 {
      bottom: 100px;
    }
    @include screen-480 {
      bottom: 100px;
    }
  }
  &__item {
    position: relative;
    &:hover {
      .psychics__info {
        transition: 3s;
        @extend %flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__caption {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 49px;
    font-weight: 700;
    @include screen-980 {
      width: 100%;
      justify-content: space-between;
      margin-bottom: 20px;
      font-size: 30px;
    }
    @include screen-480 {
      text-align: center;
      margin-bottom: 10px;
      padding: 0 30px;
      color: $main-color;
    }
  }
  &__name {
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  &__text {
    width: 170px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    color: #AEAEAE;
  }
  .custom-btn {
    margin-top: 50px;
    width: 278px;
    @include screen-1440 {
      margin-top: 20px;
    }
    @include screen-1279 {
      width: 230px;
    }
  }
  .slick-slider {
    text-align: center;
    .slick-prev {
      left: 58%;
      top: -9%;
      @include screen-480 {
        display: none !important;
      }
    }
    .slick-next {
      right: 23.5%;
      top: -9%;
      @include screen-480 {
        display: none !important;
      }
    }
    &>button {
      width: auto;
      height: auto;
      &:before {
        font-size: 40px;
      }
    }
  }
}