.psychics-item-main {
  @extend %flex;
  align-items: center;
  &__container {
    @extend %justify-between;
    align-items: center;
    @extend %container-right;
    @include screen-980 {
      text-align: center;
      padding: 0 30px;
    }
  }
  &__caption {
    width: 424px;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 49px;
    font-weight: 700;
    color: $main-color;
    @include screen-480 {
      width: 100%;
      font-size: 30px;
    }
  }
  &__subtitle {
    margin: 15px 0 100px;
    font-size: 20px;
    font-weight: 300;
    @include screen-480 {
      font-size: 18px;
    }
  }
  .custom-btn {
    width: 339px;
    @include screen-480 {
      width: 240px;
    }
  }
}

.psychics-item-about {
  @extend %flex;
  align-items: center;
  &__container {
    @extend %container-center;
    @extend %flex;
  }
  &__caption {
    @extend %caption;
    top: 5%;
    left: 2%;
    font-size: 230px;
    @include screen-1180 {
      font-size: 16vw;
    }
  }
  &__info {
    @include screen-480 {
      height: 65vh;
      overflow: hidden;
    }
    p {
      margin-bottom: 20px;
      line-height: 29px;
      font-family: $font-roboto;
      font-weight: 400;
      font-size: 19px;
      @include screen-700 {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 21px;
      }
      @include screen-320 {
        font-size: 11px;
        line-height: 19px;
      }
    }
  }
  .custom-btn {
    width: 339px;
    margin-top: 60px;
    @include screen-700 {
      width: 240px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
    }
  }
}

.psychics-item-gallery {
  @extend %flex;
  align-items: center;
  &__container {
    @extend %container-right;
  }
  &__caption {
    margin-bottom: 40px;
    text-transform: uppercase;
    line-height: 65px;
    font-size: 49px;
    font-weight: 700;
    color: $color-white;
    @include screen-480 {
      text-align: center;
      font-size: 30px;
      color: $main-color;
    }
  }
  &__img {
    position: relative;
    width: 455px;
    height: 334px;
    margin: 0 auto;
    object-fit: cover;
    @include screen-1440 {
      width: 100%;
      height: 250px;
    }
    @include screen-980 {
      height: 200px;
    }
    @include screen-480 {
      height: 300px !important;
    }
  }
  .slick-slider {
    text-align: left;
    margin: 0;
    .slick-track {
      display: flex;
      align-items: flex-end;
    }
    .slick-dots {
      display: none;
    }
    .slick-prev {
      left: 48%;
      top: -15%;
      @include screen-480 {
        display: none !important;
      }
    }
    .slick-next {
      right: 36%;
      top: -15%;
      @include screen-480 {
        display: none !important;
      }
    }
    &>button {
      width: auto;
      height: auto;
      &:before {
        font-size: 40px;
      }
    }
  }
  .slick-slide {
    &.slick-current {
        .psychics-item-gallery__img {
          width: 455px;
          height: 500px;
        }
    }
  }
}

.psychics-item-comment {
  @extend %flex;
  align-items: center;
  &__container {
    @extend %container-center;
    @include screen-980 {
      width: 100%;
      max-width: 100%;
    }
  }
  &__caption {
    @extend %caption;
    top: 13%;
    left: 2%;
    font-size: 230px;
    @include screen-1180 {
      font-size: 20vw;
    }
    @include screen-700 {
      top: 10%;
    }
  }
  &__name {
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 700;
  }
  &__text {
    width: 360px;
    line-height: 29px;
    font-weight: 400;
    font-size: 18px;
    font-family: $font-roboto;
    @include screen-1180 {
      width: 100%;
    }
    @include screen-700 {
     font-size: 14px;
      line-height: 21px;
    }
  }
  &__date {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
  }
  &__item {
    position: relative;
    top: 80px;
    @include screen-980 {
      top: 0;
    }
  }
  .slick-prev {
    left: 80%;
    top: 18%;
    z-index: 1;
    @include screen-480 {
      display: none !important;
    }
  }
  .slick-next {
    right: 2%;
    top: 18%;
    @include screen-480 {
      display: none !important;
    }
  }
  .slick-slider {
    &>button {
      width: auto;
      height: auto;
      &:before {
        font-size: 40px;
      }
    }
  }
  .slick-current {
    position: relative;
    top: 0;
  }
  .slick-track {
    padding: 100px 0;
    @include screen-700 {
      padding: 0;
    }
  }
}

.psychics-item-registration {
  @extend %flex;
  flex-direction: column;
  justify-content: flex-end;
  &__container {
    @extend %container-center;
    margin-bottom: 150px;
    @include screen-1440 {
      margin-bottom: 20px;
    }
  }
  &__caption {
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    @include screen-1440 {
      margin-bottom: 30px;
      font-size: 20px;
    }
    @include screen-700 {
      margin-bottom: 20px;
    }
    @include screen-480 {
      display: none;
    }
  }
  &__form {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap:20px;
    grid-template: 62px 62px 62px 62px / 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "a a b b"
            "c c e e"
            "d d e e";
    input:valid:not(:placeholder-shown) {
      border: 3px solid $main-color;
    }
    input:invalid:not(:placeholder-shown) {
      border: 3px solid red;
    }
    input:invalid:not(:placeholder-shown) + .psychics-item-registration__error {
      display: block;
    }
    @include screen-1440 {
      grid-template: 52px 52px 52px 52px / 1fr 1fr 1fr 1fr;
    }
    @include screen-700 {
      display: block;
    }
  }
  &__field {
    &:first-child {
      grid-area: a;
    }
    &:nth-child(2) {
      grid-area: b;
    }
    &:nth-child(3) {
      grid-area: c;
    }
    &:nth-child(4) {
      grid-area: d;
    }
    &:nth-child(5) {
      grid-area: e;
    }
    @include screen-700 {
      margin-bottom: 10px;
    }
  }
  &__error {
    color: $color-white;
    text-align: left;
    font-size: 12px;
    margin-top: 3px;
    display: none;
  }
  input {
    width: 100%;
    outline: none;
    display: block;
    height: 62px;
    padding: 0 15px;
    border: 3px solid $color-white;
    box-sizing: border-box;
    font-family: $font-roboto;
    font-size: 20px;
    background: none;
    color: $color-white;
    @include screen-1440 {
      height: 52px;
    }
  }
  textarea {
    outline: none;
    display: block;
    width: 440px;
    height: 100%;
    padding: 15px;
    border: 3px solid $color-white;
    font-family: $font-roboto;
    font-size: 20px;
    box-sizing: border-box;
    background: none;
    color: $color-white;
    @include screen-980 {
      width: 100%;
    }
    @include screen-700 {
      height: 120px;
    }
    @include screen-320 {
      height: 52px;
      padding: 10px 15px;
    }
  }
  .help-block {
    color: $main-color;
  }
  .custom-btn {
    button {
      background: none;
      border: none;
    }
    @include screen-980 {
      width: 240px;
      margin: 0 auto;
      display: block;
    }
  }
}