html, body {
  height: 100%;
  overflow: hidden;
  perspective: 200;
}

main {
  display: block;
  height: 100%;
  transform-style: preserve-3d;
  overflow: hidden;
}

section {
  overflow: hidden;
}

@-webkit-keyframes pulse {
  /* line 68, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 69, ../sass/screen.scss */
  50% {
    opacity: 0.25;
  }

  /* line 70, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes pulse {
  /* line 74, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 75, ../sass/screen.scss */
  50% {
    opacity: 0.25;
  }

  /* line 76, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  /* line 80, ../sass/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 81, ../sass/screen.scss */
  50% {
    opacity: 0.25;
  }

  /* line 82, ../sass/screen.scss */
  100% {
    opacity: 1;
  }
}

section.screen {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  transition: all .35s ease-out;
}

section.screen.one {
  //transform: translate3d(0, 0, 0);
  transform: scale(1);
  opacity: 1;
}

section.screen.one.active {
  transform: translate3d(0, 0, 0);
}

section.screen.one.after {
  //transform: translate3d(-100%, 0, 0);
  //transform: translate3d(-100%, 0, 0) rotateZ(180deg);
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

section.screen.one span.scroll-indicator {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin: auto;
  color: white;
  display: inline-block;
  font-weight: normal;
  transform: scaleX(2.5) translate3d(-50%, 0, 0);
  animation: pulse 1s infinite;
}

section.screen.two {
  transform: translate3d(0, 100%, 0);
}

section.screen.two.active {
  transform: translate3d(0, 0, 0);
}

section.screen.two.after {
  transform: translate3d(100%, 0, 0);
}


section.screen.three {
  transform: translate3d(100%, 0, 0);
}

section.screen.three.active {
  transform: translate3d(0, 0, 0);
}

section.screen.three.after {
  //transform: translate3d(100%, 0, 0);
  transform: translate3d(0, 100%, 0);
}

section.screen.three iframe {
  margin-top: 20px;
}

section.screen.four {
  transform: translate3d(0, 100%, 0);
}

section.screen.four.active {
  transform: translate3d(0, 0, 0);
}

section.screen.four.after {
  transform: translate3d(0, 0, 0) scale(0);
}

section.screen.four iframe {
  margin-top: 20px;
}

section.screen.five {
  transform: scale(0);
  opacity: 0;
}

section.screen.five.active {
  transform: scale(1);
  opacity: 1;
}

section.screen.five.after {
  transform: translate3d(-100%, 0, 0) rotateZ(180deg);
  opacity: 1;
}

//section.screen.six {
//  transform: translate3d(100%, 0, 0);
//}
//
//section.screen.six.active {
//  transform: translate3d(0, 0, 0);
//}

section.screen.six {
  //transform: translate3d(100%, 0, 0) rotateZ(180deg);
  transform: translate3d(100%, 0, 0);
}

section.screen.six.active {
  //transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

section.screen.six.after {
  //transform: translate3d(-100%, 0, 0) rotateZ(180deg);
  transform: translate3d(0, 100%, 0);
}

section.screen div.container {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

section {
  height: 100%;
  width: 100%;
}
