.services {
  @extend %flex;
  align-items: center;
  &__container {
    @extend %container-right;
    @include screen-980 {
      padding: 0 20px;
    }
    @include screen-480 {
      padding: 0;
    }
  }
  &__gradient {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 2;
      height: 290px;
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
      @include screen-1440 {
        height: auto;
      }
      @include screen-480 {
        height: 250px;
      }
    }
  }
  &__img {
    position: relative;
    width: 460px;
    height: 290px;
    margin: 0 auto;
    object-fit: cover;
    @include screen-1440 {
      width: 100%;
    height: 250px;
  }
    @include screen-980 {
      height: 200px;
    }
    @include screen-480 {
      height: 250px !important;
    }
  }
  &__title {
    width: 100%;
    position: absolute;
    bottom: 30px;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    z-index: 3;
    @include screen-480 {
      position: absolute !important;
      bottom: 100px !important;
      text-align: left;
      padding: 0 20px;
    }
  }
  &__item {
    position: relative;
  }
  &__caption {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 49px;
    font-weight: 700;
    @include screen-1440 {
      margin-bottom: 10px;
    }
    @include screen-1279 {
      margin-bottom:0;
    }
    @include screen-1180 {
      line-height: 35px;
      font-size: 30px;
    }
    @include screen-480 {
      margin-bottom: 20px;
      text-align: center;
      color: $main-color;
    }
  }
  .slick-slider {
    text-align: left;
    margin-bottom: 0;
    .slick-track {
      display: flex;
      align-items: center;
    }
    .slick-dots {
      width: auto;
      top: -40px;
      left: -30%;
      @extend %flex;
      flex-direction: column;
      @include screen-1440 {
        left: -18%;
      }
      @include screen-1180 {
        display: none !important;
      }
      li {
        width: auto;
        height: auto;
        padding: 15px 0;
        &.slick-active {
          button {
            &:after {
              content: "";
              display: block;
              width: 100%;
              height: 5px;
              margin: 0 auto;
              text-align: center;
              transform: translateY(7px) translateX(25px) scale(1);
              background-color: $main-color;
            }
          }
        }
        button {
          width: auto;
          height: auto;
          font-size: 20px;
          font-weight: 500;
          color: $color-white;
        }
      }
    }
    .slick-list {
      z-index: 2;
    }
    .slick-prev {
      left: 48%;
      top: -15%;
      @include screen-1440 {
        top: -8%;
      }
      @include screen-1279 {
        left: 38%;
        top: -5%;
      }
      @include screen-480 {
        display: none !important;
      }
    }
    .slick-next {
      right: 36%;
      top: -15%;
      @include screen-1440 {
        top: -8%;
      }
      @include screen-1279 {
        left: 46%;
        top: -5%;
      }
      @include screen-480 {
        display: none !important;
      }
    }
    &>button {
      width: auto;
      height: auto;
      &:before {
        font-size: 40px;
      }
    }
  }
  .slick-slide {
    &.slick-current {
      margin-top: 54px;
      @include screen-1180 {
        margin-top: 44px;
      }
      @include screen-480 {
        margin: 0;
      }
      .services__gradient {
        &:after {
          background: none;
          @include screen-480 {
            height: 250px;
            background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#000000',GradientType=0 );
          }
        }
        .services__img {
          height: 340px;
          @include screen-1440 {
            width: 100%;
            height: 300px;
          }
          @include screen-980 {
            height: 230px;
          }
        }
      }
      .services__title {
        top: -40px;
        text-align: left;
        @include screen-1180 {
          top: -30px;
        }
        @include screen-480 {
          top: auto;
        }
      }
      .custom-btn {
        display: block;
      }
    }
  }
  .custom-btn {
    display: none;
    width: 260px;
    margin-top: 50px;
    @include screen-1180 {
      margin-top: 20px;
    }
    @include screen-480 {
      display: block;
      margin: 30px auto 0;
    }
  }
}