$main-color: #FEE600;
$color-white: #fff;
$color-black: #000;
$color-blue: #18bee2;
$font-roboto: 'Roboto';

@mixin screen-1440{
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin screen-1279 {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

@mixin screen-1180 {
  @media screen and (max-width: 1180px) {
    @content;
  }
}

@mixin screen-980 {
  @media screen and (max-width: 980px) {
    @content;
  }
}

@mixin screen-700 {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin screen-480 {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin screen-320 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin background-left {
  background: #9218e2;
  background: -moz-linear-gradient(-45deg, #9218e2 0%, #2f4feb 100%);
  background: -webkit-linear-gradient(-45deg, #9218e2 0%,#2f4feb 100%);
  background: linear-gradient(135deg, #9218e2 0%,#2f4feb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9218e2', endColorstr='#2f4feb',GradientType=1 );
}

%container-center {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}

%container-right {
  width: 100%;
  margin: 0 auto;
  padding-left: 26.5%;
  @include screen-1440 {
    padding-left: 17%;
  }
  @include screen-1180 {
    padding-left: 9%;
  }
  @include screen-980 {
    padding: 0;
  }
}

%flex {
  display: flex;
  flex-wrap: wrap;
}

%justify-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

%yellow-button {
  display: inline-block;
  padding: 11px 14px 7px 14px;
  font-size: 14px;
  font-family: $font-roboto;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: $main-color;
  color: $color-black;
  &:hover {
    transition: 0.7s;
    background: $color-white;
    @include screen-700 {
      background: url("../img/phone.svg") no-repeat center / 25px;
    }
  }
  @include screen-700 {
    padding: 12px 6px;
    font-size: 0;
    background: url("../img/phone.svg") no-repeat center / 25px;
  }
}

%caption {
  display: block;
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-white;
  opacity: 0.05;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #121212;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none !important;
  }
}

strong {
  font-weight: bold;
}

input, textarea {
  outline: none;
  &:focus, &:active {
    outline: none;
  }
}

textarea {resize: none !important;}

.active {
  cursor: default !important;
}

::-webkit-input-placeholder {color:$color-white;}
::-moz-placeholder          {color:$color-white;}
:-moz-placeholder           {color:$color-white;}
:-ms-input-placeholder      {color:$color-white;}
::-webkit-inner-spin-button {display: none;}
::-webkit-calendar-picker-indicator {background: none;}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #121212 !important;
  -webkit-text-fill-color: $color-white !important;
  color: $color-white !important;
}